/* App.css */

/* Container for the whole app */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the footer stays at the bottom */
  background-color: #f3f4f6; /* Light background */
}

/* Header with the company title */
.app-header {
  text-align: center;
  background-color: #3498db; /* Blue background */
  color: white;
  padding: 50px;
}

/* Style for the main content area */
.app-main-content {
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Footer with the contact info */
.app-footer {
  background-color: #2980b9; /* Darker blue */
  color: white;
  text-align: center;
  padding: 25px;
}
